{% extends '@CommonUiBundle/admin/layout/data-list.html.twig' %}

{% import '@CommonUiBundle/admin/macros/data-list.html.twig' as data_list %}

{% block title %}Přehled příspěvků{% endblock %}

{% set allow_add = true %}
{% set is_search_enabled = true %}
{% set is_filters_enabled = false %}
{% set is_group_actions_enabled = true %}

{% block add_item %}
    {% if allow_add %}
        <a class="btn btn-flex btn-light-primary"
           href="{{ path('admin:post:edit') }}">
            <i class="ki-outline ki-message-add fs-3"></i>
            Nový příspěvek
        </a>
    {% endif %}
{% endblock %}

{% block data_list_table %}
    <table class="{{ theme.default.table_class }} dataTable">
        <colgroup>
            {% if is_group_actions_enabled %}
                <col data-dt-column="0" style="width: 2%;">
            {% endif %}
            <col data-dt-column="1" style="">
            <col data-dt-column="2" style="">
            <col data-dt-column="3" style="">
        </colgroup>
        <thead>
        <tr class="{{ theme.default.thead_tr_class }}" role="row">
            {% if is_group_actions_enabled %}
                {{ data_list.checkbox_all() }}
            {% endif %}
            <th class="w-150px" data-dt-column="1">
                <span class="dt-column-title">Náhled</span>
            </th>
            <th class="min-w-100px" data-dt-column="2">
                <span class="dt-column-title">Název</span>
            </th>
            <th class="text-end min-w-70px" data-dt-column="3" aria-label="Akce">
                <span class="dt-column-title">Akce</span>
            </th>
        </tr>
        </thead>
        <tbody class="{{ theme.default.tbody_class }}">
        {% for post in posts %}
            {% set detail_url = path('admin:post:edit', {'id': post.id}) %}
            <tr>
                {% if is_group_actions_enabled %}
                    <td>
                        {{ data_list.checkbox(post.id) }}
                    </td>
                {% endif %}
                <td>
                    {% if post.cover_photo %}
                        <div class="d-flex align-items-center">
                            <a href="{{ detail_url }}" class="symbol symbol-125px">
                                <span class="symbol-label"
                                      style="background-image:url({{ post.cover_photo.big }});"></span>
                            </a>
                        </div>
                    {% else %}
                        <div class="symbol symbol-125px">
                            <span class="symbol-label bg-gray-100 text-warning rounded">
                                <i class="bi bi-image fs-2"></i>
                            </span>
                        </div>
                    {% endif %}
                </td>
                <td class="align-top">
                    <a href="{{ detail_url }}"
                       class="text-gray-800 text-hover-primary fs-5 fw-bold">
                        {{ post.heading }}
                    </a>
                    <div class="mt-1">
                        {% if post.is_published %}
                            <span class="badge badge-light-success">
                                Publikovaný {{ post.publish_date|format_date_time }}
                            </span>
                        {% else %}
                            <span class="badge badge-light-warning">Nepublikovaný</span>
                            {% if post.private_slug is not empty %}
                                <span class="badge badge-light-info">Soukromý</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if post.intro_text %}
                        <div class="text-muted fs-6 mt-2">
                            {{ post.intro_text|raw }}
                        </div>
                    {% endif %}
                    <div class="mt-3">
                        {% if not post.is_published %}
                            {{ data_list.action_button('Publikovat', 'post', post.id, 'publish', {}, 'btn btn-sm btn-outline btn-outline-dashed btn-outline-success fs-8 py-2 px-4', '', '', true) }}
                        {% endif %}
                    </div>
                </td>
                <td class="text-end">
                    {% set actions = [] %}
                    {% set actions = actions|merge([
                        {
                            'url': detail_url,
                            'title': 'Upravit',
                            'class': 'text-primary',
                            'icon': 'ki-duotone ki-pencil',
                        },
                        {
                            'url': '#',
                            'title': 'Smazat',
                            'method': 'post/' ~ post.id ~ '/delete',
                            'class': 'text-danger',
                            'icon': 'ki-duotone ki-trash',
                        }
                    ]) %}

                    <div class="actions-wrapper d-none">
                        {{ data_list.actions_icons(actions) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}
