{% macro switch(id, label, checked) %}
    <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
        <input class="form-check-input" type="checkbox"
               id="{{ id }}" {{ checked ? 'checked' : '' }}>
        <span class="form-check-label fw-semibold text-muted">{{ label|raw }}</span>
    </label>
{% endmacro %}

{% macro card_header(theme, title, toolbar) %}
    <div class="{{ theme.default.card_header_class }}">
        <div class="card-title">
            <h2>
                {{ title }}
            </h2>
        </div>

        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            {{ toolbar|default('')|raw }}
        </div>
    </div>
{% endmacro %}

{% macro section_header(title) %}
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4 mt-8">{{ title }}</h3>
        </div>
    </div>
{% endmacro %}
