{% macro switch(id, field, title, checked, icon_class = null) %}
    {% if icon_class %}
        <span title="{{ title }}">
    {% endif %}
    <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
        <input class="form-check-input"
               type="checkbox"
               id="{{ id }}"
               autocomplete="off"
               data-field="{{ field }}"
                {{ checked ? 'checked' : '' }}
        >
        {% if icon_class %}
            {% if checked %}
                {% set icon_class = icon_class ~ ' text-success' %}
            {% else %}
                {% set icon_class = icon_class ~ ' text-muted' %}
            {% endif %}
        {% endif %}
        <span class="form-check-label fw-semibold text-muted d-flex d-inline-block pe-4">
            {% if icon_class %}
                <i class="{{ icon_class }} fs-3 ms-1 m-0 p-0"></i>
            {% else %}
                {{ title }}
            {% endif %}
        </span>
    </label>
    {% if icon_class %}
        </span>
    {% endif %}
{% endmacro %}

{% macro card_header(title, toolbar) %}
    {% import '@CmsBundle/admin/macros/theme.html.twig' as theme %}

    <div class="{{ theme.card_header_class }}">
        <div class="card-title">
            <h2>
                {{ title|raw }}
            </h2>
        </div>

        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            {{ toolbar|default('')|raw }}
        </div>
    </div>
{% endmacro %}

{% macro color_input(field, tooltip = null) %}
    <div class="mb-5">
        <label class="form-label d-flex align-items-center gap-1" for="{{ field.vars.id }}">
            {{ field.vars.label }}
            {% if tooltip %}
                <i class="ki-outline ki-information-5 fs-5 text-muted lh-1 cursor-pointer"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="{{ tooltip }}"></i>
            {% endif %}
        </label>
        <div class="d-flex gap-2 align-items-center">
            {{ form_widget(field) }}
            <div class="rounded rounded-3 flex-shrink-0"
                 style="width: 38px; height: 38px; background-color: {{ field.vars.value ?: '#cccccc' }};"></div>
        </div>
        {{ form_errors(field) }}
    </div>
{% endmacro %}

{% macro section_header(title) %}
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">{{ title }}</h3>
        </div>
    </div>
{% endmacro %}

{% macro sticky_submit(form) %}
    {% import '@CmsBundle/admin/macros/theme.html.twig' as theme %}
    <div class="{{ theme.form_sticky_bar_class() }}">
        {{ form_row(form.save) }}
    </div>
    <div class="mt-n5"></div>
{% endmacro %}
