{% macro switch(id, label, checked, title = null, field = null, switched_label = null) %}
    {% if title %}
        <span title="{{ title }}">
    {% endif %}
    <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
        <input class="form-check-input"
               type="checkbox"
               id="{{ id }}"
               autocomplete="off"
                {{ field ? 'data-field=' ~ field : '' }}
                {{ checked ? 'checked' : '' }}
        >
        <span class="form-check-label fw-semibold text-muted"
              {{ switched_label is not null ? 'data-switched-label="' ~ switched_label|e('html_attr') ~ '"' : '' }}>
            {{ label|raw }}
        </span>
    </label>
    {% if title %}
        </span>
    {% endif %}
{% endmacro %}

{% macro card_header(theme, title, toolbar) %}
    <div class="{{ theme.default.card_header_class }}">
        <div class="card-title">
            <h2>
                {{ title|raw }}
            </h2>
        </div>

        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            {{ toolbar|default('')|raw }}
        </div>
    </div>
{% endmacro %}

{% macro color_input(field, tooltip = null) %}
    <div class="mb-5">
        <label class="form-label d-flex align-items-center gap-1" for="{{ field.vars.id }}">
            {{ field.vars.label }}
            {% if tooltip %}
                <i class="ki-outline ki-information-5 fs-5 text-muted lh-1 cursor-pointer"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="{{ tooltip }}"></i>
            {% endif %}
        </label>
        <div class="d-flex gap-2 align-items-center">
            {{ form_widget(field) }}
            <div class="rounded rounded-3 flex-shrink-0"
                 style="width: 38px; height: 38px; background-color: {{ field.vars.value ?: '#cccccc' }};"></div>
        </div>
        {{ form_errors(field) }}
    </div>
{% endmacro %}

{% macro section_header(title) %}
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4 mt-8">{{ title }}</h3>
        </div>
    </div>
{% endmacro %}
