{% extends '@CommonUiBundle/admin/layout/admin.html.twig' %}
{% form_theme form '@CommonUiBundle/admin/forms/form-narrow.html.twig' %}
{% import '@CommonUiBundle/admin/macros/content-editor.html.twig' as content_editor %}

{% block content %}
    <div class="app-container container">
        <div class="{{ theme.default.card_class }}">
            <div class="{{ theme.default.card_header_class }}">
                <h2 class="mb-0">
                    Editace šablony
                </h2>
            </div>

            <div class="card-body">
                {{ block('edit_form') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block edit_form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12">
            {{ form_row(form.subject) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.fromEmail) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.fromName) }}
        </div>
        <div class="col-12">
            {% if variables is defined and variables is not empty %}
                <label class="form-label">Proměnné k dispozici v šabloně</label>
                <div class="
                        alert alert-dismissible bg-light-primary border border-primary border-dashed
                        text-gray
                    ">
                    <div class="flex-equal">
                        <table class="table table-flush fw-semibold my-1">
                            <tbody>
                            {% for key,val in variables %}
                                <tr>
                                    <td class="text-muted min-w-125px w-125px py-1">
                                        <code class="me-1 mb-1">{{ '{' ~ key ~ '}' }}</code>
                                    </td>
                                    <td class="text-gray-800 py-1 ps-3">{{ val }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-12">
            {{ form_row(form.body) }}
        </div>
    </div>

    <div class="position-sticky bottom-0 py-3 bg-body border-top">
        {% if form._token is defined %}
            {{ form_row(form._token) }}
        {% endif %}
        {% if form.save is defined %}
            {{ form_row(form.save) }}
        {% endif %}
    </div>
    {{ form_end(form, {'render_rest': false}) }}

    {{ content_editor.content_editor_basic('#email_body') }}
{% endblock %}
