{% extends '@CommonUiBundle/admin/layout/data-list.html.twig' %}

{% import '@CommonUiBundle/admin/macros/data-list.html.twig' as data_list %}

{% block title %}Přehled šablon emailů{% endblock %}

{% set allow_add = true %}
{% set is_search_enabled = false %}
{% set is_filters_enabled = false %}
{% set is_group_actions_enabled = false %}
{% set is_all_allowed = true %}

{% block data_list_title %}
    <h2>Šablony emailů</h2>
{% endblock %}

{% block add_item %}
    {% if allow_add %}
        <a class="btn btn-flex btn-light-primary"
           href="{{ path('admin:email:edit') }}">
            <i class="ki-outline ki-message-add fs-3"></i>
            Nová šablona
        </a>
    {% endif %}
{% endblock %}

{% block data_list_table %}
    <table class="{{ theme.default.table_class }} dataTable">
        <thead>
        <tr class="{{ theme.default.thead_tr_class }}" role="row">

            {% if is_group_actions_enabled %}
                {{ data_list.checkbox_all() }}
            {% endif %}

            <th class="min-w-100px" data-dt-column="1">
                <span class="dt-column-title">Vytvořen</span>
            </th>
            <th class="min-w-350px" data-dt-column="2">
                <span class="dt-column-title">Název</span>
            </th>
            {% if is_admin %}
                <th class="d-md-none d-xl-table-cell min-w-100px" data-dt-column="3">
                    <span class="dt-column-title">Vytvořil</span>
                </th>
            {% endif %}
            <th class="text-end min-w-70px" data-dt-column="4" aria-label="Akce"></th>

        </tr>
        </thead>
        <tbody class="{{ theme.default.tbody_class }}">
        {% for item in emails %}
            {% set detail_url = path('admin:email:edit', {'id': item.id}) %}
            <tr>
                {% if is_group_actions_enabled %}
                    <td>
                        {{ data_list.checkbox(item.id) }}
                    </td>
                {% endif %}
                <td>
                    <span class="fw-bold small">{{ item.createdAt|date('j.n.Y')|raw }}</span>
                </td>
                <td>
                    <a href="{{ detail_url }}"
                       class="text-gray-800 text-hover-primary fs-5 fw-bold">
                        {{ item.name }}
                    </a>
                    {% if item.emailId %}
                        <br>
                        <span class="badge badge-light-info me-2">Systémový email</span>
                    {% endif %}
                </td>
                {% if is_admin %}
                    <td>
                        {% set user = item.creator %}
                        {% if user %}
                            <a href="{{ path('user_edit', {'id': user.id}) }}"
                               class="fs-6">
                                {{ user.displayName ? user.displayName : user.email }}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
                <td class="text-end">
                    {% set actions = [] %}
                    {% if is_admin and not item.emailId %}
                        {% set actions = actions|merge([
                            {
                                'url': '#',
                                'title': 'Archivovat',
                                'method': 'email/' ~ item.id ~ '/delete',
                                'class': 'text-warning'
                            }
                        ]) %}
                    {% endif %}
                    {{ data_list.actions(actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}
