{% extends '@CmsBundle/admin/layout/admin.html.twig' %}

{% form_theme branding_form '@CmsBundle/admin/forms/form-narrow.html.twig' %}
{% form_theme general_form '@CmsBundle/admin/forms/form-narrow.html.twig' %}

{% import '@CmsBundle/admin/macros/form.html.twig' as form_macro %}
{% import '@CmsBundle/admin/macros/icons.html.twig' as icons %}
{% import '@CmsBundle/admin/macros/layout.html.twig' as layout_macro %}
{% import '@CmsBundle/admin/macros/theme.html.twig' as theme %}

{% block content %}
    <div class="app-container container">
        <div class="{{ theme.card_class }}">
            {{ form_macro.card_header(icons.back_to_list(path('admin:email:list')) ~ 'Nastavení', '') }}

            <div class="card-body">
                {{ layout_macro.tabs([
                    {'id': 'general', 'label': 'Nastavení'},
                    {'id': 'branding', 'label': 'Branding'},
                ], active_tab) }}

                <div class="tab-content">
                    <div class="tab-pane fade {{ active_tab == 'general' ? 'show active' }}"
                         id="tab-general"
                         role="tabpanel">

                        {{ form_start(general_form) }}
                        {{ form_errors(general_form) }}
                        <div class="row">
                            <div class="col-12">
                                {{ form_row(general_form.default_contact_email) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(general_form.email_signature) }}
                            </div>
                        </div>
                        <div class="{{ theme.form_sticky_bar_class() }}">
                            {{ form_row(general_form.save) }}
                        </div>
                        <div class="mt-n5"></div>
                        {{ form_end(general_form) }}
                    </div>

                    <div class="tab-pane fade {{ active_tab == 'branding' ? 'show active' }}"
                         id="tab-branding"
                         role="tabpanel">

                        {{ form_start(branding_form) }}
                        {{ form_errors(branding_form) }}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                {{ form_macro.color_input(branding_form.primary_color) }}
                            </div>
                            <div class="col-12 col-md-4">
                                {{ form_macro.color_input(branding_form.secondary_color) }}
                            </div>
                        </div>
                        <div class="{{ theme.form_sticky_bar_class() }}">
                            {{ form_row(branding_form.save) }}
                        </div>
                        <div class="mt-n5"></div>
                        {{ form_end(branding_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
