{% extends '@CommonUiBundle/admin/layout/admin.html.twig' %}
{% form_theme form '@CommonUiBundle/admin/forms/form-narrow.html.twig' %}
{% import '@CommonUiBundle/admin/macros/content-editor.html.twig' as content_editor %}
{% import '@CmsBundle/macro/form.html.twig' as form_macro %}

{% block content %}
    <div class="app-container container">
        <div class="{{ theme.default.card_class }}">
            {{ form_macro.card_header('Editace nastavení', theme) }}

            <div class="card-body">
                {{ block('edit_form') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block edit_form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}

    <div class="row">
        <div class="col-12">
            {{ form_row(form.groupId) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
        <div class="col-12">
            {{ form_row(form.value) }}
        </div>
    </div>
    <div class="position-sticky bottom-0 py-3 bg-body border-top">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
