{% extends '@CmsBundle/admin/layout/admin.html.twig' %}
{% form_theme form '@CmsBundle/admin/forms/form-narrow.html.twig' %}
{% import '@CmsBundle/admin/macros/content-editor.html.twig' as content_editor %}
{% import '@CmsBundle/admin/macros/form.html.twig' as form_macro %}
{% import '@CmsBundle/admin/macros/gallery.html.twig' as gallery_macro %}
{% import '@CmsBundle/admin/macros/tags.html.twig' as tags %}
{% import '@CmsBundle/admin/macros/theme.html.twig' as theme %}

{% block content %}
    <div class="app-container container-xxl">
        <div class="d-flex flex-column flex-xl-row">
            {% if editing %}
                {{ block('sidebar') }}
            {% endif %}

            <div class="flex-lg-row-fluid ms-lg-10">
                {{ block('tabs') }}

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-form" role="tabpanel">
                        {{ block('tab_content') }}
                    </div>

                    {% if editing %}
                        {{ gallery_macro.gallery_tabs_panes('page', page.id, galleries) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="flex-column flex-lg-row-auto w-100 w-xl-300px mb-10">
        <div class="{{ theme.card_class }}">
            <div class="{{ theme.card_body_class }}">
                <div class="d-flex flex-column mb-2">
                    <span class="fw-bold fs-3 text-gray-800">
                    {% if editing %}
                        {{ page.name }}
                    {% else %}
                        Nová stránka
                    {% endif %}
                    </span>
                </div>

                {% if editing %}
                    {% if page.pageGroup %}
                        <span class="fw-bold fs-6 text-gray-800">Sekce</span>
                        <a class="btn btn-flex btn-sm btn-light-info w-100"
                           href="{{ path('admin:page:list', {'group_id': page.pageGroup.id}) }}">
                            <i class="bi bi-folder me-1"></i>
                            {{ page.pageGroup.name }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if editing %}
            {{ block('quick_settings') }}
        {% endif %}

        <div class="{{ theme.card_class }}">
            <div class="card-body pt-8 d-flex flex-column gap-3">
                <a class="btn btn-flex btn-sm btn-light-primary w-100"
                   href="{{ page_public_url }}" target="_blank">
                    <i class="bi bi-globe me-1"></i>
                    Stránka na webu
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block tabs %}
    {% if editing %}
        <ul class="{{ theme.nav_tabs_class }}" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="tab-form-btn"
                        data-bs-toggle="tab"
                        data-bs-target="#tab-form"
                        type="button"
                        role="tab"
                        aria-selected="true">
                    Stránka
                </button>
            </li>
            {{ gallery_macro.gallery_tabs_nav(galleries, 'page') }}
        </ul>
    {% endif %}
{% endblock %}

{% block tab_content %}
    {{ block('edit_card') }}
{% endblock %}

{% block quick_settings %}
    <div class="{{ theme.card_class }}">
        <div class="card-body py-8">
            {{ form_macro.section_header('Rychlé akce') }}

            <div class="js-toggle-switch pt-2"
                 data-entity="page"
                 data-entity-id="{{ page.id }}">
                <div class="mb-4">
                    {{ form_macro.switch('page_is_public_' ~ page.id, 'is_public', 'Publikováno', page.isPublic, null, 'Stránka je viditelná pro návštěvníky webu') }}
                </div>
                <div class="mb-4">
                    {{ form_macro.switch('page_is_in_sitemap_' ~ page.id, 'is_in_sitemap', 'Sitemap', page.isInSitemap, null, 'Stránka je zahrnuta v sitemap.xml') }}
                </div>
                <div>
                    {{ form_macro.switch('page_has_toc_' ~ page.id, 'has_toc', 'TOC', page.hasToc, null, 'Zobrazí obsah stránky (Table of Contents)') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block edit_card %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="{{ theme.card_class }}">
        <div class="card-body">
            {{ block('edit_form') }}
        </div>
    </div>

    {{ form_end(form, {render_rest: false}) }}

    {% if tinymce_content_css is not defined %}
        {% set tinymce_content_css = null %}
    {% endif %}
    {{ content_editor.content_editor_basic('#page_content', 'cs', null, tinymce_content_css) }}
{% endblock %}

{% block edit_form %}
    {{ form_macro.section_header('Základní údaje') }}

    <div class="row mb-4">
        <div class="col-12 col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ form_row(form.pageGroup) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ form_row(form.heading) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ form_row(form.urlId) }}
        </div>
        {% if not editing %}
            <div class="col-12">
                {{ form_row(form.isPublic) }}
            </div>
        {% endif %}
    </div>

    {{ form_macro.section_header('Obsah stránky') }}
    <div class="row mb-4">
        <div class="col-12">
            {{ form_row(form.content) }}
        </div>
    </div>

    {% if page_enable_tags %}
        {{ form_macro.section_header('Štítky') }}
        <div class="row mb-4">
            <div class="mb-2">
                {{ tags.tags('page_tags', page_tags, true) }}
            </div>
        </div>
    {% endif %}

    {{ form_macro.section_header('Nastavení') }}
    <div class="row mb-4">
        <div class="col-12 col-md-6">
            {{ form_row(form.contentType) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.menuItem) }}
        </div>
    </div>

    {{ form_macro.section_header('Metadata') }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.metaTitle) }}
        </div>
        <div class="col-6">
            {{ form_row(form.metaKeywords) }}
        </div>
        <div class="col-12">
            {{ form_row(form.metaDescription) }}
        </div>
    </div>

    <div class="{{ theme.form_sticky_bar_class() }}"
         id="page-sticky-bar"
         data-hide-except-tab="tab-form">
        {% if form._token is defined %}
            {{ form_row(form._token) }}
        {% endif %}
        {% if form.save is defined %}
            {{ form_row(form.save) }}
        {% endif %}
    </div>
    <div class="mt-n5"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/cms/js/tabs.js') }}"></script>
    <script src="{{ asset('bundles/cms/js/toggle-switch.js') }}"></script>
    {% include '@CmsBundle/admin/partials/gallery-scripts.html.twig' %}
{% endblock %}
