{% extends '@CmsBundle/admin/layout/admin.html.twig' %}
{% form_theme form '@CmsBundle/admin/forms/form-narrow.html.twig' %}
{% import '@CmsBundle/admin/macros/content-editor.html.twig' as content_editor %}
{% import '@CmsBundle/admin/macros/form.html.twig' as form_macro %}

{% block content %}
    <div class="app-container container">
        <div class="{{ theme.default.card_class }}">
            {% set toolbar %}
                {% if editing %}
                    <a class="btn btn-flex btn-light-primary" href="/{{ page.urlId }}" target="_blank">
                        <i class="bi bi-globe fs-3 me-1"></i>
                        Zobrazit stránku
                    </a>
                {% endif %}
            {% endset %}
            {{ form_macro.card_header(theme, 'Editace stránky', toolbar) }}

            <div class="card-body">
                {% if editing %}
                    <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-5 fw-semibold mb-8"
                        id="pageEditTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tab-form-btn"
                                    data-bs-toggle="tab" data-bs-target="#tab-form"
                                    type="button" role="tab" aria-selected="true">
                                Stránka
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tab-gallery-btn"
                                    data-bs-toggle="tab" data-bs-target="#tab-gallery"
                                    type="button" role="tab" aria-selected="false">
                                Galerie
                                <span class="badge badge-circle badge-sm badge-light-primary ms-2 {{ gallery_item_count > 0 ? '' : 'd-none' }}"
                                      id="gallery-count-badge">{{ gallery_item_count }}</span>
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-form" role="tabpanel">
                            {{ block('edit_form') }}
                        </div>
                        <div class="tab-pane fade" id="tab-gallery" role="tabpanel">
                            {% for gallery_name, items in galleries %}
                                {{ include('@CmsBundle/admin/partials/gallery.html.twig', {model: 'page', model_id: page.id, model_name: gallery_name, gallery_items: items}, with_context: false) }}
                            {% else %}
                                <div class="text-center py-10 text-gray-500">
                                    <i class="bi bi-images fs-3x mb-3 d-block"></i>
                                    Galerie není k dispozici.
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {{ block('edit_form') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block edit_form %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_macro.section_header('Základní informace') }}
    <div class="row">
        <div class="col-12 col-lg-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ form_row(form.urlId) }}
        </div>
        <div class="col-12">
            {{ form_row(form.heading) }}
        </div>
        <div class="col-12">
            {{ form_row(form.isPublic) }}
        </div>
    </div>

    {{ form_macro.section_header('Obsah stránky') }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.content) }}
        </div>
    </div>

    {{ form_macro.section_header('Nastavení') }}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_row(form.sideMenuId) }}
        </div>
        <div class="col-12">
            {{ form_row(form.isInSitemap) }}
        </div>
        <div class="col-12">
            {{ form_row(form.hasToc) }}
        </div>
    </div>

    {#    <div class="row"> #}
    {#        <div class="col-12 col-md-4"> #}
    {#            {{ form_row(form.contentType) }} #}
    {#        </div> #}
    {#        <div class="col-12 col-md-4"> #}
    {#            {{ form_row(form.theme) }} #}
    {#        </div> #}
    {#    </div> #}

    {{ form_macro.section_header('Metadata') }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.metaTitle) }}
        </div>
        <div class="col-6">
            {{ form_row(form.metaKeywords) }}
        </div>
        <div class="col-12">
            {{ form_row(form.metaDescription) }}
        </div>
    </div>

    <div class="position-sticky bottom-0 mt-2 py-5 bg-body border-top" id="page-sticky-bar">
        {% if form._token is defined %}
            {{ form_row(form._token) }}
        {% endif %}
        {% if form.save is defined %}
            {{ form_row(form.save) }}
        {% endif %}
    </div>
    <div class="mt-n5"></div>

    {{ form_end(form, {render_rest: false}) }}

    {{ content_editor.content_editor_basic('#page_content') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function () {
            // Sticky bar: hide when gallery tab is active, restore when form tab is active
            const stickyBar = document.getElementById('page-sticky-bar');
            const galleryTabBtn = document.getElementById('tab-gallery-btn');
            const formTabBtn = document.getElementById('tab-form-btn');

            if (galleryTabBtn && stickyBar) {
                galleryTabBtn.addEventListener('shown.bs.tab', function () {
                    stickyBar.classList.add('d-none');
                });
                formTabBtn.addEventListener('shown.bs.tab', function () {
                    stickyBar.classList.remove('d-none');
                });
            }
        }());
    </script>
{% endblock %}
