{% extends '@CmsBundle/admin/layout/data-list.html.twig' %}

{% import '@CmsBundle/admin/macros/data-list.html.twig' as data_list %}
{% import '@CmsBundle/admin/macros/form.html.twig' as form_macro %}
{% import '@CmsBundle/admin/macros/theme.html.twig' as theme %}

{% block title %}Přehled stránek{% endblock %}

{% set allow_add = true %}
{% set is_search_enabled = true %}
{% set is_filters_enabled = true %}
{% set is_group_actions_enabled = false %}

{% block data_list_title %}
    <h2>Stránky</h2>
{% endblock %}

{% block add_item %}
    {% if allow_add %}
        <a class="btn btn-flex btn-light-primary"
           href="{{ path('admin:page:edit') }}">
            <i class="ki-outline ki-message-add fs-3"></i>
            Nová stránka
        </a>
    {% endif %}
{% endblock %}

{% block filters %}
    {{ data_list.list_filter_enum_select('Viditelnost', 'visibility', [
        {value: 'all', trans: 'Vše'},
        {value: 'public', trans: 'Publikováno'},
        {value: 'private', trans: 'Nepublikováno'},
    ], visibility) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cms/js/toggle-switch.js') }}"></script>
{% endblock %}

{% block data_list_table %}
    <table class="{{ theme.table_class }} dataTable">
        <thead>
        <tr class="{{ theme.thead_tr_class }}" role="row">
            {% if is_group_actions_enabled %}
                {{ data_list.checkbox_all() }}
            {% endif %}
            <th class="min-w-350px" data-dt-column="1">
                <span class="dt-column-title">Název</span>
            </th>
            <th class="text-end min-w-150px" data-dt-column="2">
                <span class="dt-column-title">Publikováno</span>
            </th>
            <th class="text-end min-w-150px" data-dt-column="3" aria-label="Akce">
                <span class="dt-column-title">Akce</span>
            </th>
        </tr>
        </thead>
        <tbody class="{{ theme.tbody_class }}">
        {% for page in pages %}
            {% set detail_url = path('admin:page:edit', {'id': page.id}) %}
            <tr>
                {% if is_group_actions_enabled %}
                    <td>
                        {{ data_list.checkbox(page.id) }}
                    </td>
                {% endif %}
                <td>
                    <div class="py-2">
                        <a href="{{ detail_url }}"
                           class="text-gray-800 text-hover-primary fs-5 fw-bold">
                            {{ page.name }}
                            {% if page.lang %}
                                <span class="badge badge-light-info">{{ page.lang }}</span>
                            {% endif %}
                        </a>
                        {% if page.heading %}
                            <div class="text-muted fs-7">{{ page.heading }}</div>
                        {% endif %}
                    </div>
                    <div class="{{ theme.toggle_switch_class }}"
                         data-entity="page"
                         data-entity-id="{{ page.id }}">
                        {{ form_macro.switch('page_is_public_' ~ page.id, 'bi bi-check-circle-fill', 'bi bi-check-circle-fill', page.isPublic, null, 'is_public') }}
                    </div>
                </td>
                <td class="text-end">
                    {{ page.publishedAt ? page.publishedAt|format_date_time : '—' }}
                </td>
                <td class="text-end">
                    {% set web_url = '/' ~ page.urlId %}

                    {% set actions = [] %}
                    {% set actions = actions|merge([
                        {
                            'url': web_url,
                            'title': 'Zobrazit',
                            'class': 'text-secondary',
                            'icon': 'ki-duotone ki-eye',
                        },
                        {
                            'url': detail_url,
                            'title': 'Upravit',
                            'class': 'text-primary',
                            'icon': 'ki-duotone ki-pencil',
                        },
                        {
                            'url': path('admin:page:clone', {'id': page.id}),
                            'title': 'Klonovat',
                            'class': 'text-info',
                            'icon': 'ki-duotone ki-copy',
                        },
                    ]) %}
                    {{ data_list.actions_icons(actions) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}
