{% extends '@CommonUiBundle/admin/layout/data-list.html.twig' %}

{% import '@CommonUiBundle/admin/macros/data-list.html.twig' as data_list %}

{% block title %}Menu{% endblock %}

{% set allow_add = true %}
{% set is_search_enabled = false %}
{% set is_filters_enabled = false %}
{% set is_group_actions_enabled = false %}

{% block data_list_title %}
    <h2>Menu</h2>
{% endblock %}

{% block add_item %}
    {% if allow_add %}
        <a class="btn btn-flex btn-light-primary"
           href="{{ path('admin:menu:edit') }}">
            <i class="ki-outline ki-message-add fs-3"></i>
            Nová položka
        </a>
    {% endif %}
{% endblock %}

{% block data_list_table %}
    <table class="{{ theme.default.table_class }} dataTable">
        <thead>
        <tr class="{{ theme.default.thead_tr_class }}" role="row">
            <th class="min-w-300px" data-dt-column="1">
                <span class="dt-column-title">Název</span>
            </th>
            <th class="min-w-200px" data-dt-column="2">
                <span class="dt-column-title">Pozice</span>
            </th>
            <th class="text-end min-w-70px" data-dt-column="3" aria-label="Akce">
                <span class="dt-column-title">Akce</span>
            </th>
        </tr>
        </thead>
        <tbody class="{{ theme.default.tbody_class }}">
        {% for item in items %}
            {% set list_url = path('admin:menu:list:position', {'position': item.position}) %}
            <tr>
                <td>
                    <a href="{{ list_url }}"
                       class="text-gray-800 text-hover-primary fs-5 fw-bold">
                        {{ item.name }}
                    </a>
                    <div>
                        {% if item.published %}
                            <span class="badge badge-light-success">Publikováno</span>
                        {% else %}
                            <span class="badge badge-light-warning">Nepublikováno</span>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <span class="badge badge-light-info">{{ item.position }}</span>
                </td>
                <td class="text-end">
                    {% set actions = [] %}
                    {% set actions = actions|merge([
                        {
                            'url': list_url,
                            'title': 'Zobrazit strom',
                            'class': 'text-primary',
                            'icon': 'ki-duotone ki-menu',
                        },
                        {
                            'url': path('admin:menu:edit', {'id': item.id}),
                            'title': 'Upravit',
                            'class': 'text-primary',
                            'icon': 'ki-duotone ki-pencil',
                        },
                    ]) %}
                    <div class="actions-wrapper">
                        {{ data_list.actions_icons(actions) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
{% endblock %}
